/* toolbar button */

toolbarbutton.easyblock > image
{
	list-style-image: url("chrome://easyblock/content/ui.svg#easyblock");
}

[iconsize="small"] toolbarbutton.easyblock[ebstate="disabled"] > image
{
	filter: grayscale(40%) opacity(80%);
}

toolbarpaletteitem[place="palette"] toolbarbutton.easyblock
{
	-moz-box-orient: horizontal !important;
}

toolbarpaletteitem[place="palette"] toolbarbutton.easyblock > image
{
	list-style-image: url("chrome://easyblock/content/easyblock.png");
	-moz-image-region: rect(0px 64px 64px 0px);
	margin: 4px 0px !important;
}


/** notification */

notification[type="info"].easyblock
{
	background-color: rgba(230, 225, 235, 0.25) !important;
}

notification[type="info"].easyblock image.messageImage
{
	list-style-image: url("chrome://easyblock/content/ui.svg#easyblock") !important;
	margin: 4px 5px 4px 7px;
}

notification[type="info"].easyblock[ebstate="disabled"] image.messageImage
{
	filter: grayscale(40%) opacity(80%);
}

notification[type="info"].easyblock description
{
	margin-inline-start: 5px !important;
}


/** menu */

toolbarbutton.easyblock menu,
toolbarbutton.easyblock menuitem
{
	-moz-appearance: none !important;
	padding: 4px 6px;
	padding-right: 23px;
}

toolbarbutton.easyblock menu > label,
toolbarbutton.easyblock menuitem > label
{
	padding-left: 20px;
	margin: 0 1px !important;
}

toolbarbutton.easyblock menu
{
	background-image: url("chrome://easyblock/content/ui.svg#menu");
	background-repeat: no-repeat;
	background-position: right center;
}

toolbarbutton.easyblock menuitem
{
	-moz-binding: none !important;
}

toolbarbutton.easyblock menuitem:hover
{
	color: #fff;
	background: #4787e8;
}

toolbarbutton.easyblock menuitem > label
{
	background-position: left center;
	background-repeat: no-repeat;
}

toolbarbutton.easyblock menuitem[disabled="true"] > label
{
	color: #888;
}

toolbarbutton.easyblock menuitem[toggled="true"] > label
{
	background-image: url("chrome://easyblock/content/ui.svg#checkbox");
}
