
fieldset
{
	border: 1px solid ThreeDShadow;
	border-radius: 4px;
	box-sizing: border-box;
	min-width: 22em;
	height: 37em;
	padding: 2px 8px 8px;
	margin: 5px;
}

fieldset > legend
{
	margin-left: 10px;
	background-color: -moz-Dialog;
	font-weight: bold;
}

fieldset > #bl
{
	height: 35em;
	overflow: auto;
}

fieldset > #bl div[enabled="false"] > label,
fieldset > #bl label[enabled="false"]
{
	color: #808080;
}

fieldset > #bl div > label
{
	display: block;
	margin: 1px 0px;
	white-space: nowrap;
}

fieldset > #bl > div.tree
{
	max-width: calc(22em - 18px);
	padding: 2px 0px;
}

fieldset > #bl div.tree > div,
fieldset > #bl div.tree > label
{
	padding-left: 17px;
}

fieldset > #bl div.tree[expanded="false"] > label
{
	background-image: url("chrome://easyblock/content/ui.svg#expander_off");
	background-repeat: no-repeat;
	cursor: pointer;
}

fieldset > #bl div.tree[expanded="false"] > div
{
	display: none;
}

fieldset > #bl div.tree[expanded="true"] > label
{
	background-image: url("chrome://easyblock/content/ui.svg#expander_on");
	background-repeat: no-repeat;
	cursor: pointer;
}
