
groupbox
{
	border: 1px solid ThreeDShadow;
	border-radius: 4px;
	min-width: 22em;
	height: 37em;
}

groupbox > caption
{
	margin-left: 10px;
	background-color: -moz-Dialog;
}

groupbox > #bl
{
	margin-right: 8px;
	padding-bottom: 8px;
	height: 35em;
	overflow-x: hidden;
	overflow-y: auto;
}

groupbox > #bl vbox[enabled="false"] > label,
groupbox > #bl label[enabled="false"]
{
	color: #808080;
}

groupbox > #bl > vbox.tree
{
	padding: 2px 0px;
}

groupbox > #bl vbox.tree > vbox,
groupbox > #bl vbox.tree > label
{
	padding-left: 17px;
}

groupbox > #bl vbox.tree[expanded="false"] > label
{
	background-image: url("chrome://easyblock/content/ui.svg#expander_off");
	background-repeat: no-repeat;
	cursor: pointer;
}

groupbox > #bl vbox.tree[expanded="false"] > vbox
{
	visibility: collapse;
}

groupbox > #bl vbox.tree[expanded="true"] > label
{
	background-image: url("chrome://easyblock/content/ui.svg#expander_on");
	background-repeat: no-repeat;
	cursor: pointer;
}

groupbox > #bl vbox.tree[expanded="true"] > vbox
{
	visibility: visible;
}
